<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('style_connects') %>
  </head>
  <body>
    <%- include('layout') %>
    <div class="container">
     <h2>Number of available product types:</h2>
      <ul>
        <li><strong>Chucks</strong>: <%= chucks_count %></li>
        <li><strong>Muffs</strong>: <%= muffs_count %></li>
        <li><strong>Nodes</strong>: <%= nodes_count %></li>
        <li><strong>Plugs</strong>: <%= plugs_count %></li>
        <li><strong>Screws</strong>: <%= screws_count %></li>
        <li><strong>Tees</strong>: <%= tees_count %></li>
      </ul>
    </div>
    
  </body>
</html>
