<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('style_connects') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('layout') %>
    <div class="container">
        <h2><%= title %></h2>
        <% if(screw_list){
            %>  
            <ul>
                <% for(screw of screw_list){
                    %> 
                    <% if(screw.availability === true){
                        %> <li style="background-color: rgb(81, 182, 22)"><a href="<%= screw.url %>"><%= screw.name %></a></li> <%
                    }else{
                        %><li style="background-color: rgb(197, 11, 11)"><a href="<%= screw.url %>"><%= screw.name %></a></li> <%
                    } %>
                    <ul>
                        
                        <li><strong>Size:</strong> <%= screw.size  %></li>
                        
                    </ul>
                    <%
                } %>
            </ul>
            
            <%
        } 
        else{
            %>
            List doesnt have any product
            <%
        }
        
        %>
        <a href="screws/create"><button class="addNew">ADD NEW</button></a>
    </div>
</body>
</html>