<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('style_connects') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('layout') %>
    <div class="container">
       <h2><%= title %></h2>
       <p class="infoDelete">Do you want to delete this <%= tee.name %> in the amount of <%= tee.quantity %> pieces? </p>
       <form action="" method="POST">
        <input type="hidden" name="id" required="true", value="<%= tee._id %>">
        <button class="deleteButton" type="submit">Delete</button>
       </form>
    </div>
    
</body>
</html>