<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('style_connects') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('layout') %>
    <div class="container">
        <ul>
            <h2><%= title %></h2>
            <li><strong>Name:</strong> <%= name %></li>
            <li><strong>Material:</strong> <%= material %></li>
            <li><strong>Price:</strong> <%= price %></li>
            <li><strong>Size:</strong> <%= size %></li>
           
            <li><strong>Availability:</strong> <%= availability %></li>
            <li><strong>Quantity:</strong> <%=quantity %></li>
        </ul>
        <a href="<%= url %>/delete"><button class="deleteItem">Delete</button></a>
        <a href="<%= url %>/update"><button class="updateItem">Update</button></a>

    </div>
</body>
</html>